# Copyright (c) 2021-2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HSHS46_LEFT

# Use CONFIG_ prefix and assignment (=) syntax
CONFIG_ZMK_KEYBOARD_NAME="HSHS46"

CONFIG_ZMK_SPLIT_BLE_ROLE_CENTRAL=y

# ZMK Studio settings
CONFIG_ZMK_STUDIO=y
CONFIG_ZMK_USB_CDC_ACM=y

endif

if SHIELD_HSHS46_LEFT || SHIELD_HSHS46_RIGHT

CONFIG_ZMK_SPLIT=y

endif
